*{
    margin: 0;
    padding: 0;
    
}
body{
    /* background-image: url(img1.htm);
    background-size: cover; */
    text-align: center;
    font-size: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255957;
    padding-top: 100px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    text-align: center;
    background-color: #EEEBD3;
   
}
#count-el{
    font-size: 3rem;
}
.h2{
    font-size: 3rem;
}

#increment-btn{
    width: 11rem;
    height: 2.5rem;
    background-color:#A98743 ;
    font-size: 1.5rem;
}
#save-btn{
    width: 6rem;
    height: 2.3rem;
    background-color:#A98743 ;
    font-size: 1.5rem;
    
}
#save-el{
    font-size: 2rem;
}